            body {
                margin: 0;
                padding: 0;
            }

            div.container {
                position: absolute;
                top: 0;
                left: 0;
                min-width: 595px;
                min-height: 842px;
                max-width: 595px;
                max-height: 842px;
                background-color: rgb(248, 182, 182);
            }

            .title-right-text {
                position: absolute;
                left: 160px;
                top: 0px;
                text-align: right;
                padding: 35px;
                padding-right: 50px;
                width: 357px;
                height: 150px;
                color: black;
                font-size: 28px;
                line-height: 40px;
            }

            .top-vertical-separator {
                position: absolute;
                left: 150px;
                top: 10px;
                height: 130px;
            }

            .bottom-vertical-separator {
                position: absolute;
                top: 170px;
                left: 300px;
                height: 130px;
            }
            
            .vertical-separator {
                width: 1px;
                border: 1px dotted gray;
                border-radius: 1px;
                background-color: gray;
            }

            img.logo {
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                height: 150px;
                width: 150px;
            }

            img.barcode {
                position: absolute;
                top: 190px;
                left: 435px;
                height: 150px;
                width: 150px;
            }

            hr.rounded {
                position: absolute;
                top: 150px;
                left: 20px;
                width: 555px;
                border-radius: 5px;
                background-color: gray;
                border: 1px solid gray;
                height: 1px;
            }

            .ticket-info-container {
                position: absolute;
                top: 160px;
                left: 0;
                width: 250px;
                font-size: 12px;
                padding: 20px;
                padding-left: 30px;
                line-height: 25px;
                height: 150px;
            }

            .film-name-autofill::first-line {
                text-indent: 0px;
            }

            .lower-info-text {
                line-height: 1em;
            }

            span {
                display: inline-block;
            }

            .film-name-autofill {
                overflow-wrap: break-word;
                text-indent: 120px;
                display: initial;
                line-height: 2em;
            }

            .myh2 {
                display: block;
                font-size: 1em;
                margin-left: 0;
                margin-right: 0;
                font-weight: bold;
                line-height: 1.2em;
            }

            .myh1 {
                display: block;
                font-size: 0.8em;
                margin-left: 0;
                margin-right: 0;
                font-weight: bold;
                line-height: 1em; 
            }

            .small-texts {
                font-weight: normal;
                line-height: 0em;
            }