
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en"></head>
<link th:href="@{/main.css}" rel="stylesheet"/>
<body>

<img class="logo" th:src="@{/kino_icon.png}"/>
<!-- <div class="vertical-separator top-vertical-separator"></div> -->
<div class="title-right-text">
    <section class="myh1">Rezerwacja:
        <span class="small-texts" th:text="${zamEntry.seans.imieNazwisko}"></span></section>
    <section class="myh1">Data seansu:
        <span class="small-texts" th:text="${zamEntry.seans.dataSeansu}"></span></section>
</div>
<hr class="rounded"/>
<div class="ticket-info-container">
                    <span style="margin-top: 10px;" class="lower-info-text">
                        <section class="myh2">Nazwa seansu:
                        <span class="small-texts" th:text="${zamEntry.seans.nazwaSeansu}"></span><br/></section>
                        <section class="myh2">Rezerwacja:
                        <span class="small-texts" th:text="${zamEntry.seans.imieNazwisko}"></span><br/></section>
                        <section class="myh2">Rodzaj biletu:
                        <span class="small-texts" th:text="${zamEntry.typ}"></span><br/></section>
                        <section class="myh2">Rząd:
                        <span class="small-texts" th:text="${zamEntry.seans.rzad}"></span><br/></section>
                        <section class="myh2">Miejsce:
                        <span class="small-texts" th:text="${zamEntry.seans.miejsce}"></span><br/></section>
                        <section class="myh2">Cena:
                        <span class="small-texts" th:text="${zamEntry.cena.ilosc}"></span>zł<br/></section>
                    </span>
</div>
<!-- <div class="vertical-separator bottom-vertical-separator"></div> -->
<img class="barcode"  th:src="@{'/'+${zamEntry.seans.qr}}"/>

</body>
</html>